// @import "../assets/scss/main.scss";
  
  .log_out_button {
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.log_out_button:hover {
  color: $redColor;
  border: solid 1px $redColor;
  border-left: none;
  border-right: none;
}

//原class名稱是.delete_button換成.deleteaccount_button
.deleteaccount_button { 
  color: $redColor;
  border-top: solid 1px $redColor;
  border-bottom: solid 1px $redColor;
}

.delete_button:hover {
  text-decoration: underline;
}