// @import "../assets/scss/main.scss";
  
.log_out_button {
  border: none;
  background-color: transparent;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.log_out_button:hover {
  color: $redColor;
  border: solid 1px $redColor;
  border-left: none;
  border-right: none;
}

// 原class名稱是.delete_button換成.delete_account_button(避免交互影響)
.delete_account_button { 
  color: $redColor;
  border: none;
  background-color: transparent;
  border-top: solid 1px $redColor;
  border-bottom: solid 1px $redColor;
}

.delete_account_button:hover {
  text-decoration: underline;
}