.empty_cart {
  margin: 245px 0;
}

.go_shopping {
  margin-bottom: 0;
}

.amount_button {
  border: solid 2px black;
}

.mark {
  border: none;
  background-color: $bgColor;
}

.cart_total {
  margin-top: -100px;
}

.bagview {
  a {
    text-decoration: none;
    margin-bottom: 180px;
  }

  a:hover {
    color: $redColor;
  }

  button {
    border: none;
  }

  .check_button {
    border-top: solid 2px $redColor;
    border-bottom: solid 2px $redColor;
  }
}