#homepage {
  background-color: black;
}

//swiper section
.swiper-container {
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  height: 30rem;
  margin-bottom: 5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(6, 0, 0);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//press section
.press {
  padding: 0rem 5rem;
  margin-bottom: 5rem;
}

.press-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2.5rem;

  .press-col {
    width: 250px;
    // height: 380px;
    width: auto;
    display: flex;
    overflow: hidden;

    img {
      // border: 1px solid #fff;
      object-fit: contain;
    }
  }
}

.home_buttons_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

//about section
.about {
  // padding: 0rem 5rem;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .about-img {
    width: 100%;
  }
}

//contact section
.contact {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-end {
  color: white;
}

.contact-form {
  label {
    color: white;
  }

  .form-control {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 0;
  }
}

.message {
  label {
    color: white;
  }

  .form-control {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 0;
  }
}