#homepage {
  background-color: black;
}

//press section
.press {
  padding: 0rem 5rem;
}

.press-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .press-col {
    width: 250px;
    // height: 380px;
    width: auto;
    display: flex;
    overflow: hidden;

    img {
      // border: 1px solid #fff;
      object-fit: contain;
    }
  }
}