#lookbookpage {
  background-color: black;
}

.lookbook {
  display: flex;
}

.l_aside {
  margin-right: 20px;
  vertical-align : middle;
  flex-wrap: wrap;
  a{
    color: #faf7f7;
    text-decoration: none;
    
  }
}

.l_aside li a {
  display: block;
  padding: 10px;
  color: #faf7f7;
  border-left: 4px solid transparent;

  &hover {
    font-weight: bold;
    background: rgb(2, 0, 0);
    text-decoration: none;
    color: red;
  }

}


.r_aside {
  display: flex;
}

@media screen and (max-width: 768px) {
  .lookbook {
    flex-wrap: wrap;
  }

  .l_aside ul {
    display: flex;
    flex-wrap: wrap;

    li {
      flex: 1;
      text-align: center;

      a {
        border: none;
        border-bottom: 4px transparent solid;

        &hover {
          border: none;
          color: red;
        }
      }
    }
  }
}

.lookbook-col {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 250px;
    height: auto;
    object-fit: contain;
  }
}