.singleproduct {
  margin-top: 95px;
}

.actionImg_container {
  width: 403px;
  height: 604px;
}

.actionImg_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and ( max-width: 768px ) {
  .actionImg_container {
    width: 90%;
  }

  .price {
    font-size: 32px;
  }
}

.singleproduct hr {
  height: 2px;
  background-color: $grayColor;
}

.dropdown button {
  width: 30%;
  border: solid 2px $redColor;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.dropdown-list {
  width: 30%;
  border: solid 2px $redColor;
  border-left: none;
  border-right: none;
  border-radius: 0;
  background-color: transparent;
}

.dropdown-menu {
  width: 30%;
  border-radius: 0;
  background-color: $bgColor;
}

.dropdown-menu li > a:hover {
  color: white;
  background-color: black;
}

.product_add_cart a {
    text-decoration: none;
    margin: 90px 0;
}

.add_cart_button {
  border-top: solid 2px $redColor;
  border-bottom: solid 2px $redColor;
}

.add_cart_button:hover {
  color: $redColor;
}

@media screen and ( max-width: 768px ) {
  .dropdown-list {
    width: 100%;
  }
}