// Top navbar
.top-nav {
  padding: 0 57px;
  display: flex;
  background-color: black;

  .logo-img {
    width: 100%;
    height: 90px;
    object-fit: contain;
  }

  .navbar-p-0 {
    height: 3rem;
    display: flex;
  }

  .item-list {
    margin: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    ul {
      column-gap: 15px;
    }
  }

  .topnav-brand {
    width: 100%;
    margin: auto 20px;
    align-self: center;
    justify-content: center;
  }

  .topnav-item {
    position: relative;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 5px;
      bottom: 5px;
      width: 1px;
      background-color: white;
      transform: rotate(15deg);
    }

    &:after {
      right: 0;
    }

    a {
      text-decoration: none;
      color: #fff;
      display: block;
      text-align: center;
      padding: 1px 8px;

      &:hover {
        text-decoration: none;
        color: rgb(239, 2, 2);
      }
    }
  }
}



// Navbar
.nav_black {
  background-color: black;
  color: white;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #CC0000;
  border-bottom: 2px solid #CC0000;

  .navbar-collapse .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .navbar-toggler {
    justify-content: flex-end;
  
    .navbar-toggler-icon {
      color: rgb(247, 242, 242);
  
      &:hover {
        color: rgb(244, 4, 4);
      }
    }
  }

  ul li .nav-link {
    text-decoration: none;
    color: inherit;
    /* display: block; */
    text-align: center;
    padding: 2px 80px;

    &:active,
    &:visited,
    &:focus {
      color: inherit;
    }

    &:hover {
      text-decoration: none;
      color: rgb(239, 2, 2);
    }

  }
}

// .nav_white {
//   background-color: rgb(247, 246, 246);
//   color: black;
//   position: relative;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: space-between;
//   border-top: 2px solid #CC0000;
//   border-bottom: 2px solid #CC0000;

//   .navbar-collapse .navbar-nav {
//     width: 100%;
//     justify-content: space-evenly;
//   }
//   .navbar-toggler {
//     justify-content: flex-end;
  
//     .navbar-toggler-icon {
//       color: rgb(247, 242, 242);
  
//       &:hover {
//         color: rgb(244, 4, 4);
//       }
//     }
//   }
//   ul li .nav-link {
//     text-decoration: none;
//     color: inherit;
//     /* display: block; */
//     text-align: center;
//     padding: 2px 80px;

//     &:active,
//     &:visited,
//     &:focus {
//       color: inherit;
//     }

//     &:hover {
//       text-decoration: none;
//       color: rgb(239, 2, 2);
//     }

//   }
// }
